.card {
  width: 255px;
  margin: 0 auto;
  background: #ffffff;
  margin-bottom: 30px;
  padding: 25px;
}

.card__image-wrapper {
  margin: 0 auto;
}

.card__image {
  display: block;
  margin: 0 auto;
}

.card__info {
  text-align: center;
  margin-bottom: 30px;
}

.card__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.card__price-value {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.card__button-buy {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  padding: 9px 40px;
  margin: 0 auto;
  background: $color-green;
  border: 1px solid $color-green;
  border-radius: 30px;
}
