.choice-amchair {
  width: 170px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  padding: 12px 0;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 40px;
  white-space: nowrap;
  background: rgba(102, 192, 93, 0.6);
}
