.contacts a {
  margin: 10px 20px;
  color: #000000;
}

.contacts__tel {
  font-family: $default-font;
  font-size: 16px;
  line-height: 19px;
}

.contacts__tel__footer {
  white-space: nowrap;
}

.contacts__tel-callback {
  text-decoration: none;
  line-height: 19px;
  padding: 10px 26px;
  border: 2px solid $color-green;
  border-radius: 40px;
  white-space: nowrap;
}
