$color-green: #66c05d;
$color-darken-gray: #333333;
$color-gray: #efefef;

$default-font: "Roboto", "Arial", sans-serif;
$custom-font: "Roboto", sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;
